html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */

body {
  min-height: 100vh;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: #242121;
  background-color: #fff;
  letter-spacing: 0.6px;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    180deg,
    #01353e 0%,
    rgba(51, 51, 51, 0.595076) 31.64%,
    rgba(51, 51, 51, 0.222586) 74.35%,
    rgba(51, 51, 51, 0) 99.87%
  );
}

.header {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 49%;
  background: linear-gradient(
    180deg,
    #01353e 0%,
    rgba(51, 51, 51, 0.595076) 31.64%,
    rgba(51, 51, 51, 0.222586) 74.35%,
    rgba(51, 51, 51, 0) 99.87%
  );
}

.header__top {
  z-index: 1;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header__top-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  position: relative;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 100px;
  text-align: center;
  text-transform: uppercase;
  color: #01353e;
}

.title:after {
  content: '/';
  position: absolute;
  font-size: 72px;
  line-height: 85px;
  color: #00b2a0;
}

.menu {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin-right: 60px;
}

.menu__list {
  position: relative;
  display: flex;
}

.menu__item + .menu__item {
  margin-left: 45px;
}

.menu__link {
  padding: 0 1px 5px;
  font-size: 24px;
  line-height: 28px;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid transparent;
  transition: border-color 0.5s;
}

.menu__link:hover {
  border-color: #00b2a0;
}

.header__content-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 98px);
}

.header__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__item {
  padding-top: 239px;
  font-weight: 700;
  font-size: 200px;
  line-height: 235px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: #0d302c;
}

.header__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 50px;
}

.header__icon {
  content: url('../img/header-icon.svg');
}

/* About */
.about {
  padding: 190px 0 200px;
}

.about__text {
  display: flex;
  flex-wrap: wrap;
}

.about__text p {
  max-width: 480px;
  margin-right: 120px;
  margin-bottom: 30px;
}

/* School */
.school {
  background-color: #f8f8f8;
  padding: 200px 0 200px;
}

.school__items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.school__item {
  display: flex;
  flex-direction: column;
}

.school__item {
  width: calc(32% - 25px);
}

.school__block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.school__block-residance:before {
  content: url('../img/sun.svg');
  padding-right: 10px;
  color: #00b2a0;
}

.school__block-insurance:before {
  content: url('../img/airplane.svg');
  padding-right: 10px;
}

.school__block-education:before {
  content: url('../img/surfer.svg');
  padding-right: 10px;
}

.school__item-title {
  max-width: 190px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.school__item-text {
  max-width: 350px;
}

.school__inner {
  display: flex;
  justify-content: space-between;
}

.school__info {
  flex: none;
  max-width: 350px;
}

.school__info-text {
  margin-bottom: 20px;
}

.school__info-item {
  display: flex;
  align-items: center;
}

.school__info-content {
  font-weight: 400;
  font-size: 24px;
}

.school__info-icon {
  content: url('../img/scale.svg');
  max-width: 56%;
  padding-right: 10px;
}

.school__info-icon-second {
  max-width: 74%;
}

.school__info-icon-third {
  max-width: 87%;
}

.school__text {
  max-width: 600px;
}

.school__text p {
  margin-bottom: 30px;
}

/* Top */
.top {
  padding-bottom: 200px;
}

.top__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top__inner {
  max-width: 570px;
  padding-right: 59px;
  padding-top: 200px;
  padding-bottom: 130px;
}

.top__text p {
  margin-bottom: 30px;
}

.top__bg {
  position: absolute;
  width: 50%;
  min-height: 850px;
  background-size: 100%;
  background-repeat: no-repeat;
  right: 0;
}

.gallery {
  padding: 0 0 183px;
}

.gallery__title {
  margin-bottom: 212px;
}

.gallery__content {
  display: flex;
  flex-wrap: wrap;
  margin-left: -40px;
  margin-bottom: 50px;
}

.gallery__item {
  position: relative;
  margin-left: 40px;
  margin-bottom: 40px;
}

.gallery__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4c4a4a;
  opacity: 0;
  transition: opacity 0.3s;
}

.gallery__item:hover .gallery__link {
  opacity: 0.8;
}

.gallery__add {
  padding-bottom: 200px;
  text-align: center;
}

.gallery__add-btn {
  display: inline-block;
  padding: 24px 91px;
  text-align: center;
  border: 1px solid #c4c4c4;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  color: #242121;
}

.gallery__filter-btn {
  margin-bottom: 50px;
}

.gallery__btn {
  cursor: pointer;
  margin-right: 20px;
  border: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: transparent;
  outline: white;
}

.mixitup-control-active {
  color: #00b2a0;
}

.blockquote {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 62px;
  margin-bottom: 200px;
  background-color: #f8f8f8;
}

.blockquote__text {
  font-size: 36px;
  font-weight: 400;
  font-style: italic;
  line-height: 40px;
  color: #242121;
}

.blockquote__author {
  display: block;
  text-align: right;
  margin-right: 27%;
  font-style: italic;
}

.gallery__video {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
  min-height: 600px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.gallery__list {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
}

.gallery__numbers {
  margin-right: 90px;
}

.gallery__numbers-item {
  text-align: center;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  color: #01353e;
}

.gallery__numbers:last-child {
  margin-right: 0;
}

.gallery__numbers span {
  display: block;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #242121;
}

.slider__blog {
  padding-bottom: 200px;
}

.slider__blog-title {
  margin-bottom: 229px;
}

.slider__blog-item {
  height: 800px;
  background-repeat: no-repeat;
}

.slider__blog-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}

.slider__blog-about {
  padding-top: 17%;
  padding-left: 50%;
}

.slider__blog-item-title {
  position: relative;
  z-index: 1;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  color: #ffffff;
}

.slider__blog-item-descr {
  position: relative;
  z-index: 1;
  color: #ffffff;
}

.slick-initialized .slick-slide {
  position: relative;
}

.slick-dots {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  bottom: 77px;
}

.slick-dots li + li {
  margin-left: 15px;
}

.slick-dots button {
  width: 15px;
  height: 15px;
  font-size: 0;
  padding: 0;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  opacity: 1;
}

.slick-dots .slick-active button {
  width: 15px;
  height: 15px;
  background-color: #00b2a0;
  border-radius: 50%;
  opacity: 1;
}

.team__title {
  margin-bottom: 185px;
}

.team__items {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 205px;
}

.team__name {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  padding: 25px 0 5px;
}

.team__position {
  font-weight: 400;
}

.pricing {
  padding: 200px 0 200px;
  background-color: #f8f8f8;
}

.pricing__title {
  margin-bottom: 185px;
}

.pricing__items {
  display: flex;
  justify-content: space-between;
}

.pricing__item {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  background-color: #fff;
  padding: 45px 30px 45px;
}

ul.pricing__item-list {
  margin-bottom: 40px;
}

.pricing__item-service {
  margin-bottom: 20px;
  font-weight: 400;
}

.pricing__items-name,
.pricing__items-num {
  text-align: center;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #01353e;
}

.pricing__items-name {
  margin-bottom: 58px;
}

.pricing__items-num {
  margin-top: auto;
}

.pricing__items-num sup {
  font-size: 18px;
  line-height: 22px;
}

.map {
  box-sizing: initial;
  min-height: 640px;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 200px 200px;
}

.connection {
  padding: 0 0 200px;
}

.connection__title {
  margin-bottom: 200px;
}

.connection__content {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}

.contacts {
  font-style: normal;
  flex-grow: 1;
  min-height: 460px;
  margin-top: 20px;
  padding-top: 49px;
  padding-left: 52px;
  background-color: #f8f8f8;
}

.contact__text {
  max-width: 325px;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}

.contact__text-item {
  margin-bottom: 65px;
}

.form {
  min-width: 570px;
  margin-right: 31px;
}

.form input {
  margin-bottom: 18px;
}

.form input,
.form textarea {
  display: block;
  border: none;
  border-bottom: 2px solid #dadada;
  width: 100%;
  padding: 16px 0;
  font-size: 16px;
  font-weight: 400;
}

.form input::placeholder,
.form textarea::placeholder {
  max-width: 260px;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #00b2a0;
}

.form textarea {
  resize: none;
  padding-top: 40px;
  min-height: 192px;
}

.form__btn {
  display: block;
  cursor: pointer;
  max-width: 350px;
  margin-top: 73px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  padding: 24px 111px 23px;
  background-color: #fff;
  border: 1px solid #c4c4c4;
}

.connection__social {
  display: flex;
  justify-content: center;
}

.connection__link {
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  color: #242121;
  text-transform: uppercase;
}

.connection__item + .connection__item {
  margin-left: 10px;
}

.connection__link:hover {
  color: #00b2a0;
}

.footer {
  min-height: 200px;
  background-color: #00b2a0;
  padding-top: 67px;
}

.footer__logo {
  display: block;
}

.footer__img {
  margin: 0 auto;
}
